<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practice Software Testing Suite" verbose="2" parallel="false">

    <listeners>
        <listener class-name="com.testsmith.listeners.TestListener"/>
    </listeners>

    <test name="AC1 - User Login Tests">
        <classes>
            <class name="com.testsmith.tests.LoginTests"/>
        </classes>
    </test>

</suite>